<select class="form-select" #selOption (change)="changeLanguage(selOption.value)">
    <option value="en">English</option>
    <option value="ru">Russian</option>
</select>

<div class="accordion-item" id="acc1">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#firstCollapse" aria-expanded="true" aria-controls="firstCollapse">
            {{ 'first.paragraph.title' | translate }}
        </button>
    </h2>
    <div id="firstCollapse" class="accordion-collapse collapse show" aria-labelledby="headingOne">
        <div class="accordion-body">
            {{ 'first.paragraph.text' | translate }}
        </div>
    </div>
  </div>
  <div class="accordion-item" id="acc2">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#secondCollapse" aria-expanded="true" aria-controls="secondCollapse">
            {{ 'second.paragraph.title' | translate }}
        </button>
    </h2>
    <div id="secondCollapse" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
        <div class="accordion-body">
            {{ 'second.paragraph.text' | translate }}
        </div>
    </div>
  </div>
  <div class="accordion-item" id="acc3">
    <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#thirdCollapse" aria-expanded="true" aria-controls="thirdCollapse">
            {{ 'third.paragraph.title' | translate }}
        </button>
    </h2>
    <div id="thirdCollapse" class="accordion-collapse collapse show" aria-labelledby="headingThree">
        <div class="accordion-body">
            {{ 'third.paragraph.text' | translate }}
        </div>
    </div>
  </div>
  <div class="accordion-item" id="acc4">
    <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#fourthCollapse" aria-expanded="true" aria-controls="fourthCollapse">
            {{ 'fourth.paragraph.title' | translate }}
        </button>
    </h2>
    <div id="fourthCollapse" class="accordion-collapse collapse show" aria-labelledby="headingFour">
        <div class="accordion-body">
            {{ 'fourth.paragraph.text' | translate }}
        </div>
    </div>
  </div>
  <div class="accordion-item" id="acc5">
    <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#fifthCollapse" aria-expanded="true" aria-controls="fifthCollapse">
            {{ 'fifth.paragraph.title' | translate }}
        </button>
    </h2>
    <div id="fifthCollapse" class="accordion-collapse collapse show" aria-labelledby="headingFive">
        <div class="accordion-body">
            {{ 'fifth.paragraph.text' | translate }}
        </div>
    </div>
  </div>
  <div class="accordion-item" id="acc6">
    <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sixthCollapse" aria-expanded="true" aria-controls="sixthCollapse">
            {{ 'sixth.paragraph.title' | translate }}
        </button>
    </h2>
    <div id="sixthCollapse" class="accordion-collapse collapse show" aria-labelledby="headingSix">
        <div class="accordion-body">
            {{ 'sixth.paragraph.text' | translate }}
        </div>
    </div>
  </div>
  <div class="accordion-item" id="acc7">
    <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#seventhCollapse" aria-expanded="true" aria-controls="seventhCollapse">
            {{ 'seventh.paragraph.title' | translate }}
        </button>
    </h2>
    <div id="seventhCollapse" class="accordion-collapse collapse show" aria-labelledby="sixthCollapse">
        <div class="accordion-body">
            {{ 'seventh.paragraph.text' | translate }}
        </div>
    </div>
  </div>