@import "bootstrap";

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74rem;
}

.header {
    top: 0;
    width: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(140,190,255,1) 7%, rgba(92,131,228,1) 65%, rgba(45,59,171,1) 90%);
    background: -webkit-linear-gradient(0deg, rgba(140,190,255,1) 7%, rgba(92,131,228,1) 65%, rgba(45,59,171,1) 90%);
    background: linear-gradient(0deg, rgba(140,190,255,1) 7%, rgba(92,131,228,1) 65%, rgba(45,59,171,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#2d3bab",GradientType=1);
}

.dev-notice {
    float: right
}

.header-logo {
    text-align: center;
    margin: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 2.5rem;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 6%, rgba(140,190,255,1) 39%, rgba(92,131,228,1) 65%, rgba(69,83,199,1) 90%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 6%, rgba(140,190,255,1) 39%, rgba(92,131,228,1) 65%, rgba(69,83,199,1) 90%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 6%, rgba(140,190,255,1) 39%, rgba(92,131,228,1) 65%, rgba(69,83,199,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#4553c7",GradientType=1);
}

.sidebar {
    height: 100vh;
    min-width: 15vw;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(140,190,255,1) 85%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(140,190,255,1) 85%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(140,190,255,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#8cbeff",GradientType=1);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 3%;
    text-align: right;
}

.sidebar button {
    text-decoration: none;
    font-size: 18px;
    color: $primary;
  }

